<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <style>
        body {
            background-image: url("{% static 'images/background.jpg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: var(--color-white); /* Цвет текста на фоновом изображении */
        }
    </style>
</head>
<body>
<video autoplay muted loop id="myVideo">
    <source src="https://example.com/path/to/your/video.mp4" type="video/mp4">
    Ваш браузер не поддерживает видео тег.
</video>
<div class="role-container">
    <h1>Добро пожаловать!</h1>
    <p>Пожалуйста, выберите один из вариантов:</p>
    <div class="auth__actions1">
        <a href="{% url 'registration' %}" class="btn btn--sub1 btn--lg">Регистрация</a>
    </div>
    <div class="auth__actions1">
        <a href="{% url 'login' %}" class="btn btn--sub1 btn--lg">Вход</a>
    </div>
</div>
</body>
</html>