<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Sport & healthy lifestyle</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <style>
        body {
            background-image: url("{% static 'images/background.jpg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: var(--color-white); /* Цвет текста на фоновом изображении */
        }
    </style>
</head>
<body>

<header class="header">
    <div class="container container--narrow">
            <ul class="header__menu">
                <li class="header__menuItem"><a href="{% url 'projects' %}">Главная</a></li>
            </ul>
    </div>
</header>

<!--    <div class="role-container">-->
<div class="site-info">
    <h1>Sport & healthy lifestyle</h1>
    <h1>ЗОЖники</h1>
    <p>ЗОЖ это любовь к правильному и чёткому распорядку дня, сбалансированному питанию, спорту и медитации, бережному отношению к себе и окружающему пространству.</p>
</div>
<div class="role-container">
    <div class="auth__actions1">
        <a href="{% url 'registration' %}" class="btn btn--sub1 btn--lg">Регистрация</a>
    </div>
    <div class="auth__actions1">
        <a href="{% url 'login' %}" class="btn btn--sub1 btn--lg">Вход</a>
    </div>
</div>
</body>
</html>