{% extends 'projects/base.html' %}
{% block content %}
<style>
    .devInfo__title,
    .devInfo__subtitle {
        font-size: 2.6rem;
        color: var(--color-sub);
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }

    .grid--two {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start; /* Убедитесь, что элементы выстраиваются слева направо */
        width: 100%; /* Убедитесь, что .grid--two занимает всю доступную ширину */
        margin-right: -2%;
    }

    .project{
        height: 100%;
        background-color: rgba(247, 247, 240, 0.409);
        border: 2px solid rgba(206, 206, 204, 0.737);
        border-radius: 5px;
        }

    .project-feed {
            border-radius: 5px;
            display: block;
            position: relative;
            width: 100%; /* Ширина контейнера */
            height: 350px;
            padding-top: 56.25%; /* Соотношение сторон 16:9 (9 / 16 * 100%) */
            overflow: hidden; /* Скрываем элементы, выходящие за пределы контейнера */
        }

    .project-feed .project__thumbnail {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; /* Масштабируем изображение, чтобы заполнить контейнер */
        }

    .project-feed .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .project-feed .card__body {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон для текста */
            color: white;
            padding: 10px;
            height: 100%;
    }
</style>


<main class="profile my-md">
    <div class="container">
        <div class="layout">
            <div class="column column--1of3">
                <div class="card text-center">
                    <div class="card__body dev">
                        <img class="avatar avatar--xl" src="{{ profile.photo.url }}"/>
                        <h2 class="dev__name">{{ profile.name }}</h2>
                        <p class="dev__title">nickname: {{ profile.nickname }}</p>
                        <br>
                        <p class="dev__title">{{ profile.myself_short }}</p>
                        <p class="dev__location">{{ profile.work }}</p>
                        <ul class="dev__social">
                            {% if profile.social_site %}
                            <li>
                                <a title="Twitter" href="{{profile.social_site}}" target="_blank"><i
                                        class="im im-twitter"></i></a>
                            </li>
                            {% endif %}
                            {% if profile.social_youtube %}
                            <li>
                                <a title="Youtube" href="{{profile.social_youtube}}" target="_blank"><i
                                        class="fa fa-youtube"></i></a>
                            </li>
                            {% endif %}
                            {% if profile.social_website %}
                            <li>
                                <a title="Personal Website" href="{{profile.social_website}}" target="_blank"><i
                                        class="fa fa-sitemap"></i></a>
                            </li>
                            {% endif %}
                        </ul>
                        <a href="{% url 'created_message' profile.id %}" class="btn btn--sub btn--lg">Сообщение</a>
                    </div>
                </div>
            </div>
            <div class="column column--2of3">
                <div class="devInfo">
                    <h3 class="devInfo__title">Обо мне</h3>
                    <p class="devInfo__about">
                        {{ profile.myself }}
                    </p>
                </div>
                <p class="devInfo__subtitle"><a href="{{profile.document.url }}">Диплом</a></p>
                <div class="devInfo">
                    <h3 class="devInfo__title">Опыт</h3>

                    <div class="devInfo__skills">
                        {% for skill in top_skills %}
                        <div class="devSkill">
                            <p class="devSkill__info">
                                {{ skill.info }}
                            </p>
                        </div>
                        {% endfor%}

                        <h3 class="devInfo__subtitle">SKILL</h3>
                        <div class="devInfo__otherSkills">
                            {% for skill in profile.skill_set.all %}
                            <span class="tag tag--pill tag--sub tag--lg">
                  <small>{{skill.qualification}}</small>
                </span>
                            {% endfor%}
                        </div>
                    </div>
                </div>
                <div class="devInfo">
                    <h3 class="devInfo__title">Новости</h3>
                    <div class="grid grid--two">
                        {% if profile.photos.all %}
                        {% for photo in profile.photos.all %}
                        <div class="column">
                            <div class="card project">
                                <a href="{{ photo.image.url }}" class="project">
                                    <img class="project__thumbnail" src="{{ photo.image.url }}" alt="image">
                                    <div class="card__body" title="{{ photo.caption }}">
                                        {% if photo.caption %}
                                        <p>{{ photo.caption|truncatewords:20 }}</p>
                                        {% endif %}
                                        <div class="like-section">
                                            <button class="like-button" data-item-id="{{ photo.id }}"
                                                    data-item-type="photo">
                                                <span class="like-icon">&#9829;</span>
                                                <span class="like-count">{{ photo.likes.count }}</span>
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}


                        {% if profile.videos.all %}
                        {% for video in profile.videos.all %}
                        <div class="column">
                            <div class="card project">
                                <div class="project-feed">
                                    <a href="{% if video.video_type == 'local' and video.video %}{{ video.video.url }}{% elif video.video_type == 'url' %}{{ video.video_url }}{% endif %}">
                                        {% if video.video_type == 'local' and video.video %}
                                        <video class="project__thumbnail" controls>
                                            <source src="{{ video.video.url }}" type="video/mp4">
                                            Ваш браузер не поддерживает видео тег.
                                        </video>
                                        {% elif video.video_type == 'url' %}
                                        <div class="video-container">
                                            <iframe src="{{ video.video_url }}" frameborder="0"
                                                    allowfullscreen></iframe>
                                        </div>
                                        {% else %}
                                        <p>Видео не загружено</p>
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="card__body">
                                    {% if video.caption %}
                                    <p>{{ video.caption|truncatewords:20 }}</p>
                                    {% endif %}
                                    <div class="like-section">
                                        <button class="like-button" data-item-id="{{ video.id }}"
                                                data-item-type="video">
                                            <span class="like-icon">&#9829;</span>
                                            <span class="like-count">{{ video.likes.count }}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}


                        {% if not profile.photos.all and not profile.videos.all %}
                        <p>Новостей пока нет</p>
                        {% endif %}
                    </div>
                </div>
                <div class="devInfo">
                    <h3 class="devInfo__title">Статьи</h3>
                    <div class="grid grid--two">
                        {% for project in projects %}
                        <div class="column">
                            <div class="card project">
                                <a href="{% url 'project' project.id %}" class="project">
                                    <img class="project__thumbnail" src="{{project.featured_image.url}}"
                                         alt="project thumbnail"/>
                                    <div class="card__body">
                                        <h3 class="project__title">{{project.title|truncatewords:30}}</h3>
                                        <p><a class="project__author" href="{% url 'user_profile' project.owner.id %}">{{project.owner.name}}</a>
                                        </p>
                                        <div class="project__tags">
                                            {% for tag in project.tags.all %}
                                            <span class="tag tag--pill tag--main">
                                                    <small>{{ tag }}</small>
                                            </span>
                                            {% endfor %}
                                        </div>
                                        <div class="like-section">
                                            <button class="like-button" data-item-id="{{ project.id }}"
                                                    data-item-type="project">
                                                <span class="like-icon">&#9829;</span>
                                                <span class="like-count">{{ project.likes.count }}</span>
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock %}