:root {
    --color-sub: #2d2d39;
    --color-main: #5aa5b9;
    --color-main-light: #e6faff;
    --color-sub-light: #51546e;
    --color-sub-lighter: #ededfd;
    --color-text: #737373;
    --color-gray: #8b8b8b;
    --color-light: #e5e7eb;
    --color-light-gray: #767676;
    --color-bg: #f8fafd;
    --color-white: #fffefd;
    --color-white-light: #f3f3f3;
    --color-black: #000000;
    --color-success: #359e64;
    --color-success-bg: #def8e8;
    --color-error: #fc4b0b;
    --color-error-bg: #fff2ee;
    --font-base: 'Poppins', arial, helvetica, 'Segoe UI', roboto, ubuntu, sans-serif;
    --font-monospace: 'Fira Code', 'Courier New', courier, monospace;
    --font-regular: 300;
    --font-medium: 500;
    --font-bold: 700;
    --generic-shadow: 1px 1px 5px #00000010;
    --generic-transition: all 0.3s ease-in-out;
}

/*.btn--sub {
  background-color: var(--color-light-gray);
}*/

.card {
  border: 2px solid var(--color-light);
}

img {
  width: 100%;
}

.tag > i.im {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.content-box {
  width: 95%;
  max-width: 85rem;
  margin: 0 auto;
}


/*Navbar*/

.header {
    position: relative;
    overflow: hidden;
    height: 390px; /*Устанавливаем высоту шапки */
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.header__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
    
}

.header__background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Полупрозрачный слой */
    z-index: 1;
}

.header__background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-fit: contain; */
    background-position: center; /* Центрирует изображение */
    background-repeat: no-repeat; /* Не повторяет изображение */
} 

.container {
    position: relative;
    z-index: 2;
}
 /*  поисковая строка */

.header__search {
  display: flex;
  align-items: center;
  float: right;
}

.header__search input {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.header__search button {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.header__search button:hover {
  background-color: #0056b3;
}

/*=======================
  Header Section
========================*/
.header {
  position: sticky;
  z-index: 111;
  background-color: var(--color-sub);
  padding: 5.5rem 0;
  weight: 300;
}

.header > .container {
  /*display: flex;*/
  justify-content: space-between;
  align-items: left;
}

.header__logo > img {
  height: 4.5rem;
}

/* блок меню с иконками */

.header__nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 12.5rem;
  padding: 0;
  margin: 0;
}

.header__nav > ul > li {
  display: inline-flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
}

.header__menuItem > a {
  color: var(--color-light);
  font-weight: 300;
}

.toggle-menu > span {
  display: none;
}

.header__nav input[type='checkbox'] {
  display: none;
}

.header__nav input[type='checkbox']:checked ~ .header__menu {
  opacity: 1;
  pointer-events: all;
}

.project--thumbnail {
  height: 250px;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  .header__logo {
    position: relative;
    z-index: 999;
  }
  .toggle-menu {
    position: relative;
  }

  .toggle-menu > span {
    display: block;
    position: fixed;
    top: 1.5rem;
    right: 2.75rem;
    cursor: pointer;
    padding: 1rem;
    background: var(--color-sub-light);
    z-index: 999;
    font-size: 0;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }

  .toggle-menu__lines,
  .toggle-menu__lines::before,
  .toggle-menu__lines::after {
    pointer-events: none;
    content: '';
    display: block;
    height: 2px;
    width: 2.5rem;
    position: fixed;
    top: 4rem;
    right: 4rem;
    z-index: 999;
    background: var(--color-light);
    transition: all 0.3s ease-in-out;
  }

  .toggle-menu__lines::before {
    top: 3.4rem;
    transform-origin: 0 0;
  }
  .toggle-menu__lines::after {
    top: 4.6rem;
    transform-origin: 0 0;
  }

  .header__nav input[type='checkbox']:checked + .toggle-menu > .toggle-menu__lines::before {
    margin-left: 3px;
    transform: rotate(45deg) scaleX(1.2) translateX(-2px) translateY(-4px);
    visibility: visible;
  }

  .header__nav input[type='checkbox']:checked + .toggle-menu > .toggle-menu__lines {
    visibility: hidden;
  }

  .header__nav input[type='checkbox']:checked + .toggle-menu > .toggle-menu__lines::after {
    transform: rotate(-45deg) scaleX(1.2) translateX(-2px) translateY(3px);
    visibility: visible;
  }

  .header__nav > ul {
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 5rem;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--color-sub);
    transition: all 0.5s ease-in-out;

  }


  .header__menuItem a {
    transition: all 0.5s ease-in-out;
    padding: 1rem 3rem;
  }

  .header__menuItem a:hover {
    padding: 1rem 3rem;
    border-radius: 3px;
    background: var(--color-sub-light);
  }
}

/*=======================
  Hero Section
========================*/

.hero-section {
  height: 40vh;
  display: flex;
  align-items: center;
  background-color: var(--color-sub);
}

.hero-section__box {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.hero-section__box > h2,
.hero-section__box > h2 > span {
  font-size: 3rem;
  color: var(--color-light);
  line-height: 1.3;
  text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
  .hero-section__box > h2,
  .hero-section__box > h2 > span {
    font-size: 3.4rem;
  }
}

@media screen and (max-width: 800px) {
  .hero-section__box > h2,
  .hero-section__box > h2 > span {
    font-size: 3rem;
    line-height: 1.5;
  }
}

@media screen and (max-width: 500px) {
  .hero-section__box > h2,
  .hero-section__box > h2 > span {
    font-size: 2.4rem;
    line-height: 1.5;
  }
}

@media screen and (max-width: 400px) {
  .hero-section__box > h2,
  .hero-section__box > h2 > span {
    font-size: 2rem;
  }
}

.hero-section__box > h2 {
  font-weight: 300;
}

.hero-section__box > h2 > span {
  font-weight: 700;
}

.hero-section__search > .form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.hero-section__search > .form label {
  position: absolute;
  left: -9999px;
}

.hero-section__search > .form input.input--text {
  width: 50rem;
}

@media screen and (max-width: 700px) {
  .hero-section__search > .form {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: stretch;
  }

  .hero-section__search > .form input.input--text,
  .hero-section__search > .form input {
    min-width: 100%;
    width: 100%;
  }
}

/*=======================
  Developers
========================*/

.devlist {
  margin-top: 8rem;
}

.devlist .grid {
  align-items: stretch;
}

.devlist .dev .dev__profile {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.devlist .dev .dev__meta h3 {
  color: var(--color-sub);
  font-size: 2rem;
  font-weight: 700;
}

.devlist .dev .dev__meta h5 {
  color: var(--color-text);
  font-size: 1.4rem;
  font-weight: 500;
}

.devlist .dev .dev__info {
  margin: 1.5rem 0;
  font-size: 1.35rem;
  line-height: 1.4;
  text-align: justify;
}

/*=======================
  Pagination
========================*/
.pagination {
  margin-top: 6rem;
  margin-bottom: 8rem;
}

.pagination > ul {
  flex-wrap: wrap;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.pagination .btn {
  color: var(--color-sub);
}

.pagination .btn.btn--sub {
  color: var(--color-light);
}

/*=======================
  Profile
========================*/

.profile .card > .dev {
  padding: 4rem;
}

.dev__avatar {
  display: block;
  margin: auto;
}

.dev__name {
  color: var(--color-sub);
  font-size: 2.8rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.dev__title {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.3;
}

.dev__location {
  margin-top: 1rem;
}

.dev__social {
  margin: 3rem 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.devInfo {
  margin-bottom: 3rem;
}

.devInfo__title,
.devInfo__subtitle {
  font-size: 2.6rem;
  color: var(--color-sub);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.devInfo__subtitle {
  font-size: 2rem;
  color: var(--color-sub-light);
}

.devInfo__about,
.devSkill__info {
  font-size: 1.65rem;
  line-height: 1.7;
  text-align: justify;
}

.devSkill {
  margin-bottom: 3rem;
}

.devSkill__title {
  font-size: 1.65rem;
  font-weight: 500;
  color: var(--color-sub-light);
}

@media screen and (min-width: 700px) {
  .devSkill {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
  }

  .devSkill__info {
    flex-basis: 80%;
  }
}

/*=======================
  Single Projects
========================*/

.singleProject .column--1of3 {
  order: 2;
}

@media screen and (min-width: 1081px) {
  .singleProject .column--1of3 {
    order: 1;
  }
  .singleProject .column--2of3 {
    order: 2;
  }
}

.singleProject__toolStack {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.singleProject__liveLink {
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
}

.singleProject__liveLink::after {
  content: '|';
  position: absolute;
  right: -5px;
  color: #ccc;
}

.singleProject__liveLink:hover {
  font-weight: 500;
  border-bottom: 2px solid var(--color-main);
}

.singleProject__liveLink i {
  display: inline-block;
  font-size: 1.8rem;
  /*margin-right: 1rem;*/
  margin-top: 3rem;
}

.singleProject__preview {
  height: 50vh;
  object-fit: cover;
  object-position: top center;
  margin-bottom: 3rem;
  border-radius: 0.7rem;
}

.singleProject__developer {
  font-size: 1.8rem;
  font-weight: 500;
}

.singleProject__title {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--color-sub);
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.project__author{
  font-size: 1.4rem;
  font-style: italic;
}

.project--rating{
  margin-bottom: 1.6em;
  margin-top: .5em;
}

.singleProject__subtitle {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-sub);
  margin-bottom: 1rem;
}

/*=======================
  Projects Page
========================*/

.projects > .hero-section {
  background: var(--color-sub-lighter);
  height: 30vh;
}

.projects .hero-section__box {
  margin-bottom: 2.5rem;
}

.projects .hero-section__box > h2 {
  color: var(--color-sub);
}

.projects .hero-section__box > h2 > span {
  font-weight: 700;
  color: var(--color-sub);
}
/* основные статьи */
.projectsList {
  margin-top: 4rem;
  flex: 2;
  margin-right: 10px;
}
/* блок ссылок */
.links-section {
    flex: 1;
    background-color: var(--color-sub)
    padding: 10px;
    border-radius: 5px;
}

.links-section h2 {
    margin-bottom: 12px;
    color: var(--color-gray)
}

.links-section .link {
    margin: 10px;
}
/*========== Projects ==========*/

.project__thumbnail {
  object-fit: cover;
  object-position: top center;
  width: 100%;
  height: 100%;
}

.project__title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-sub);
}

.project__info {
  margin: 1rem 0;
  font-size: 1.4rem;
  text-align: justify;
}

/*========== Comments ==========*/

.comments {
  margin-top: 2rem;
  padding-top: 3rem;
  border-top: 2px solid var(--color-light);
}

.comments .form label {
  position: absolute;
  margin: -9999px;
}

.commentList {
  margin: 3rem 0;
}

.comment {
  display: flex;
  gap: 2rem;
}

.comment:not(:last-child) {
  margin-bottom: 3rem;
}

.comment__author {
  font-size: 1.8rem;
}

.comment__info {
  font-size: 1.45rem;
}

/*=======================
  Account Settings
========================*/

.settingsPage .dev > .settings__btn {
  display: inline-block;
  margin-bottom: 3rem;
}

.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings__title {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-sub);
}

.settings__table {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 0 3rem;
  /*background: var(--color-white);*/
  background-color: rgba(247, 247, 245, 0.409);
  border: 2px solid var(--color-white);
  border-radius: 1rem;
}

.settings__table tr {
  width: 100%;
}

.settings__table tr > td {
  padding: 2rem 0;
}

.settings__table tr:not(:last-child) td {
  border-bottom: 2px solid var(--color-white-light);
}

.settings__thumbnail {
  width: 23%;
  min-width: 10rem;
}
/* Стили для фото */
.settings__thumbnail img {
  padding-right: 3rem;
  height: 15rem;
  object-fit: contain;
}

/* Стили для контейнера фото и видео */
/*.settings__thumbnail {
    width: 23%;
    min-width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Скрываем части фото и видео, которые выходят за пределы контейнера */
    /*position: relative; /* Добавляем позиционирование для контейнера */
/*}*/



/* Стили для видео */
.settings__thumbnail video {
    max-width: 100%; /* Максимальная ширина видео будет равна ширине родительского контейнера */
    max-height: 100%; /* Максимальная высота видео будет равна высоте родительского контейнера */
    width: 100% !important; /* Ширина видео будет равна ширине родительского контейнера */
    height: auto !important; /* Автоматическая высота видео */
    object-fit: contain !important; /* Масштабируем видео, чтобы оно поместилось в контейнер, сохраняя пропорции */
}


.settings__tableInfo{
  width: 100%;
}

.settings__tableInfo h4,
.settings__tableInfo a {
  padding-right: 1rem;
  width: auto;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-sub);
}

.settings__tableInfo p {
  font-size: 1.4rem;
}

.settings__tableActions {
  text-align: right;
}

/*=======================
  Login/SignUp
========================*/

.auth {
  width: 100%;
  position: relative;
  z-index: 1;
  background: transparent;
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth::after {
  z-index: -1;
  opacity: 0.1;
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(../images/pattern1.jpg);
}

.auth > .card {
  padding: 3rem 4rem;
  width: 95%;
  max-width: 65rem;
  /*max-height: 105rem; /*высота формы регистрации */
}

@media screen and (min-width: 650px) {
  .auth > .card {
    padding: 3rem 5rem;
    width: 95%;
    max-width: 65rem;
  }
}

.auth__header h3 {
  color: var(--color-sub);
  font-weight: 700;
  margin-top: 1rem;
}

.auth__header p {
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.auth__form {
  margin: 3rem 0;
}

.auth .auth__form label,
.auth .auth__alternative p {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-sub-light);
}

.auth .auth__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem 0;
}
.auth .auth__actions a {
  text-decoration: underline;
}

.auth .auth__alternative a {
  font-size: 2rem;
  font-weight: 500;
}

/*=======================
  Inbox
========================*/

.inbox {
  height: 90vh;
}

.inbox__title,
.inbox__title span {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-sub);
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 3rem;
}

.inbox__title span {
  color: var(--color-main);
}

.messages {
  list-style: none;
  background: var(--color-white);
  padding: 0.5rem 3rem;
  border: 2px solid var(--color-light);
  border-radius: 0.7rem;
}

.message {
  padding: 2.5rem 0;
}

.message > a span {
  font-size: 1.45rem;
  font-weight: 500;
}

.message.message--unread a span {
  font-weight: 700;
  color: var(--color-sub);
}

.message:not(:last-child) {
  border-bottom: 2px solid var(--color-white-light);
}

.message > a {
  display: flex;
  gap: 1rem;
}

.message__author,
.message__date {
  flex-basis: 25%;
}

.message__subject {
  flex-basis: 50%;
}

.message__date {
  text-align: right;
}

/*=======================
  Single Message
========================*/

.messagePage .message {
  list-style: none;
  background: var(--color-white);
  padding: 3.5rem 5rem;
  border: 2px solid var(--color-light);
  border-radius: 0.7rem;
}

.messagePage .message__subject {
  font-size: 2.8rem;
  color: var(--color-sub);
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.messagePage .message__author {
  font-size: 1.8rem;
  font-weight: 500;
}

.messagePage .message__date {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: left;
  margin-bottom: 3rem;
}

.backButton {
  background: var(--color-main-light);
  color: var(--color-main);
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.backButton img {
  width: 80%; /* Задайте ширину изображения */
  height: 80%; /* Задайте высоту изображения */
  object-fit: contain; /* Масштабирует изображение, чтобы оно полностью поместилось в контейнер */
  align-items: center;
}

.backButton i {
  font-size: 5.8rem;
}


/*=======================
  Form Page
========================*/

.formPage .formWrapper {
  list-style: none;
  background: var(--color-white);
  padding: 3.5rem 5rem;
  border: 2px solid var(--color-light);
  border-radius: 0.7rem;
}

.formPage .formWrapper__subject {
  font-size: 2.8rem;
  color: var(--color-sub);
  margin-bottom: 1rem;
  margin-top: 2rem;
}

/*=======================
  Блок добавить
========================*/

.role-container {
    text-align: center;
}

.auth__actions1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 12px;
}

.btn--sub1 {
    background-color: var(--color-sub);
    color: var(--color-white);
}

.btn--sub1:hover {
  background-color: var(--color-gray);
  color: var(--color-white);
}

.btn--sub:hover {
    background-color: var(--color-gray);
    color: var(--color-white);
}

/* полезные ссылки */
/* Base styles for columns */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.column {
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.column--1of5 {
    flex: 0 0 20%;
    max-width: 20%;
}

.column--3of5 {
    flex: 0 0 80%;
    max-width: 80%;
}

/* Links section styles */
.links-section {
    width: 100%;
    max-width: auto; /* Фиксированная ширина */
    margin-left: auto;
    margin-right: 0;
}

.links-section .card {
    margin-bottom: 20px;
}

.links-section .link__icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.links-section .link__title {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.links-section .link p {
    font-size: 1rem;
    color: #6c757d;
}

/* Grid styles  25/11/24 */
/*.grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.grid--two {
    flex-direction: column;
}

.grid--two .column {
    flex: 0 0 100%;
    max-width: 100%;
}*/

/* блок новости добавляем аватар */
/*=======================
  Developer
========================*/
.developer-blocks {
  display: flex; /* Используем flexbox для выстраивания элементов в ряд */
  overflow-x: auto; /* Добавляем горизонтальную прокрутку, если элементов много */
  white-space: nowrap; /* Запрещаем перенос строк */
  padding: 10px; /* Добавляем отступы вокруг контейнера */
  margin: 20px 10px 40px 10px; /* Добавляем отступы вокруг контейнера */
  gap: 17px;
}

.developer-block {
  width: 150px; /* Фиксируем ширину блока */
  height: 150px; /* Фиксируем высоту блока */
  border-radius: 50%; /* Делаем блоки круглыми */
  background-color: #2b2c2d; /* Цвет фона блока */
  border: 5px solid #24232562; /* Добавляем желтую рамку толщиной 5px */
  display: flex; /* Используем flexbox для центрирования содержимого */
  align-items: center; /* Выравниваем содержимое по вертикали */
  justify-content: center; /* Выравниваем содержимое по горизонтали */
  margin-right: 10px; /* Добавляем отступ между блоками */
  color: white; /* Цвет текста */
  text-decoration: none; /* Убираем подчеркивание ссылки */
  font-weight: bold; /* Жирный шрифт */
  flex: 0 0 auto; /* Запрещаем блокам растягиваться */
  position: relative; /* Относительное позиционирование для псевдоэлемента */
  overflow: hidden; /* Скрываем содержимое, выходящее за пределы блока */
}

.developer-block img {
  width: 100%; /* Заполняем блок изображением */
  height: 100%; /* Заполняем блок изображением */
  object-fit: cover; /* Масштабируем изображение, чтобы оно заполнило блок */
}

.developer-block:hover {
  background-color: #0056b3; /* Изменяем цвет фона при наведении */
}

.developer-block:hover::after {
  content: attr(data-name); /* Добавляем псевдоэлемент с атрибутом data-name */
  position: absolute; /* Абсолютное позиционирование */
  top: 0; /* Прижимаем псевдоэлемент к верхней границе блока */
  left: 0; /* Прижимаем псевдоэлемент к левой границе блока */
  width: 100%; /* Заполняем блок псевдоэлементом */
  height: 100%; /* Заполняем блок псевдоэлементом */
  display: flex; /* Используем flexbox для центрирования содержимого */
  align-items: center; /* Выравниваем содержимое по вертикали */
  justify-content: center; /* Выравниваем содержимое по горизонтали */
  background-color: rgba(0, 0, 0, 0.7); /* Цвет фона псевдоэлемента */
  color: white; /* Цвет текста псевдоэлемента */
  font-size: 14px; /* Размер шрифта псевдоэлемента */
  border: 5px solid #1709b162; /* Добавляем желтую рамку толщиной 5px */
}

/*===========================*/

/* Base styles for columns */
.row {
    display: flex;
    flex-wrap: wrap;
    /* margin-right: -15px;
    margin-left: -15px; */
}

.column {
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.column--1of5 {
    flex: 0 0 15%;
    max-width: 15%;
}

.column--3of5 {
    flex: 0 0 70%;
    max-width: 70%;
}

/* Project card styles */
/*.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
} 25/11/24*/

.project__thumbnail {
    width: 100%;
    height: auto;
}

.card__body {
    padding: 10px;
}

.author-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.author-photo {
    margin-right: 10px;
}

.author-photo__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.project__author {
    font-weight: bold;
}

/* Video section styles */
.video-section {
    margin-top: 40px;
}

.video-container {
    display: flex;
    justify-content: flex-start; /* Выравниваем видео по левой стороне */
}

.video-container iframe {
    max-width: 100%;
}

/*лайки*/
/* static/styles/app.css */

/* Стили для кнопок лайков */
.like-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s;
    font-size: 1.4rem;
}

.like-button .like-icon {
    color: red;
    margin-right: 5px;
}

.like-button:hover .like-icon {
    color: darkred;
}

.like-button .like-count {
    color: black;
}

.like-button:hover .like-count {
    color: darkred;
}

/*новости текст при наведении на фото*/
.photo-caption {
    position: relative;
    display: inline-block;
}

.photo-caption::after {
    content: attr(title);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
}

.photo-caption:hover::after {
    opacity: 1;
    visibility: visible;
}