<!DOCTYPE html>
<html>
<head>
    <title>Выбор роли</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const roleCards = document.querySelectorAll('.role-card input[type="radio"]');
            roleCards.forEach(card => {
                card.addEventListener('change', function() {
                    document.querySelector('form').submit();
                });
            });
        });
    </script>
</head>
<body>
    <h1>Выберите роль</h1>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <div class="role-container">
            <div class="role-card">
                <input type="radio" name="role" value="Профи" id="profi" required>
                <label for="profi">Профи</label>
            </div>
            <div class="role-card">
                <input type="radio" name="role" value="Новичок" id="new">
                <label for="new">Новичок</label>
            </div>
            <div class="role-card">
                <input type="radio" name="role" value="Стартапер" id="startup">
                <label for="startup">Стартапер</label>
            </div>
        </div>
    </form>
    <p>Уже зарегистрированы? <a href="{% url 'login' %}">Войти</a></p>
</body>
</html>