:root {
    --color-main: #5aa5b9;
    --color-main-light: #e6faff;
    --color-sub: #3f4156;
    --color-sub-light: #51546e;
    --color-sub-lighter: #ededfd;
    --color-text: #737373;
    --color-gray: #8b8b8b;
    --color-light: #e5e7eb;
    --color-light-gray: #767676;
    --color-bg: #f8fafd;
    --color-white: #fffefd;
    --color-white-light: #f3f3f3;
    --color-success: #359e64;
    --color-success-bg: #def8e8;
    --color-error: #fc4b0b;
    --color-error-bg: #fff2ee;
    --font-base: 'Poppins', arial, helvetica, 'Segoe UI', roboto, ubuntu, sans-serif;
    --font-monospace: 'Fira Code', 'Courier New', courier, monospace;
    --font-regular: 300;
    --font-medium: 500;
    --font-bold: 700;
    --generic-shadow: 1px 1px 5px #00000010;
    --generic-transition: all 0.3s ease-in-out;
}

body {
    font-family: var(--font-base);
    background-color: var(--color-bg);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: var(--color-white);
    border: 2px solid var(--color-light);
    border-radius: 10px;
    padding: 30px;
    box-shadow: var(--generic-shadow);
    width: 400px; /* Увеличена ширина формы */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth__header {
    text-align: center;
    margin-bottom: 20px;
}

.auth__header h3 {
    color: var(--color-sub);
    font-size: 2.5em;
}

.auth__header p {
    color: var(--color-text);
    font-size: 1.2em;
}

.form__field {
    width: 100%;
    margin-bottom: 20px;
}

.form__field label {
    display: block;
    margin-bottom: 10px;
    color: var(--color-sub);
    font-size: 1.2em;
}

.form__field input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-light);
    border-radius: 5px;
    font-size: 1em;
}

.auth__actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    padding: 15px;
    background-color: var(--color-main);
    color: var(--color-white);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
    transition: var(--generic-transition);
}

.btn:hover {
    background-color: var(--color-sub-light);
}

.auth__alternative {
    margin-top: 20px;
    text-align: center;
}

.auth__alternative p {
    color: var(--color-text);
    font-size: 1.2em;
}

.auth__alternative a {
    color: var(--color-main);
    text-decoration: none;
    font-weight: var(--font-medium);
}

.auth__alternative a:hover {
    text-decoration: underline;
}