{% load static %}

<header class="header">
    <div class="header__background">
        <img src="{% static 'images/orig.jpeg' %}" alt="Background Image" class="header__background-image">
    </div>
    <div class="container container--narrow">
        <a href="/" class="header__logo">
            <img src="{% static 'images/running.png' %}" alt="DevSearch Logo"/>
        </a>
        <nav class="header__nav">
            <input type="checkbox" id="responsive-menu"/>
            <label for="responsive-menu" class="toggle-menu">
                <span>Меню</span>
                <div class="toggle-menu__lines"></div>
            </label>
            <ul class="header__menu" style="font-weight: bold;">
                <li class="header__menuItem" style="font-size: 20px;"><a href="{% url 'projects' %}"> Главная</a></li>
                <li class="header__menuItem" style="font-size: 20px;"><a href="{% url 'sport' %}"> SPORT</a></li>
                <li class="header__menuItem" style="font-size: 20px;"><a href="{% url 'healthy' %}">Здоровье</a></li>
                <li class="header__menuItem" style="font-size: 20px;"><a href="index.html">ПРОФИ</a></li>
<!--                <li class="header__menuItem" style="font-size: 20px;"><a href="inbox.html">Inbox</a></li>-->
                <li class="header__menuItem" style="font-size: 18px;"><a href="account.html">My Account</a></li>
                <li class="header__menuItem" style="font-size: 20px;"><a href="login.html" class="btn btn--sub">Login/Sign Up</a></li>
            </ul>
            <div class="hero-section__search">
                <form class="form" action="#" method="get">
                    <div class="form__field">
                        <label for="formInput#search">Поиск</label>
                        <input class="input input--text" id="formInput#search" type="text" name="text"
                               placeholder="Введите текст для поиска"/>
                    </div>

                    <input class="btn btn--sub btn--lg" type="submit" value="Поиск"/>
                </form>
            </div>
        </nav>
    </div>
</header>