{% extends 'projects/base.html' %}
{% block content %}


<main class="projects">
    <section class="projectsList">
        <div class="container">
            <div class="row">
                <!-- Left Column (Sections and Tags) -->
                <div class="column column--1of5">
                    <h3 class="singleProject__subtitle">
                        <a href="{% url 'projects' %}">Категория</a>
                    </h3>
                    <div class="singleProject__toolStack">
                        {% for section in sections %}
                        <span class="tag tag--pill tag--sub tag--lg">
                            <a href="?section={{ section.name }}{% if selected_section %}&section={{ selected_section }}{% endif %}">
                                <small>{{ section.name }}</small>
                            </a>
                        </span>
                        {% endfor %}
                    </div>

                    <h3 class="singleProject__subtitle">
                        <a href="{% url 'projects' %}">Tag</a>
                    </h3>
                    <div class="singleProject__toolStack">
                        {% for tag in unique_tags %}
                        <span class="tag tag--pill tag--sub tag--lg">
                            <a href="?tag={{ tag.name }}{% if selected_tag %}&tag={{ selected_tag }}{% endif %}">
                                <small>{{ tag.name }}</small>
                            </a>
                        </span>
                        {% endfor %}
                    </div>
                </div>

                <div class="column column--3of5">
                    <div class="grid grid--three">
                        {% for project in projects %}
                        <div class="column">
                            <div class="card project">
                                <a href="{% url 'project' project.id %}">
                                    <img class="project__thumbnail" src="{{ project.featured_image.url }}"
                                         alt="project thumbnail"/>
                                    <div class="card__body">
                                        <h3 class="project__title" style="font-size: 1.8rem; margin-bottom: 8px;">{{ project.title }}</h3>
                                        
                                        <p style="margin-bottom: 8px;"><a class="project__author" href="{% url 'user_profile' project.owner.id %}" style="color: var(--color-main);">{{project.owner.name}}</a>
                                        </p>
                                        <p style="margin-bottom: 8px; font-size: 1.4rem; color: var(--color-sub);">{{project.created|date:"d.m.Y" }}</p>
                                        <div class="project__tags">
                                            {% for tag in project.tags.all %}
                                            <span class="tag tag--pill tag--main">
                                                <small>{{ tag.name }}</small>
                                            </span>
                                            {% endfor %}
                                        </div>
                                        <div class="like-section">
                                            <button class="like-button" data-project-id="{{ project.id }}">
                                                <span class="like-icon">&#9829;</span>
                                                <span class="like-count">{{ project.likes.count }}</span>
                                            </button>
                                        </div>
                                    
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Right Column (Useful Links) -->
                <div class="column column--1of5">
                    <section class="links-section">
                        <h2 style="font-size: 2.6rem; color: var(--color-sub); text-align: center;">Полезные ссылки</h2>
                        <div class="grid grid--two">
                            {% for link in useful_links %}
                            <div class="column">
                                <div class="card link" style="width: auto; height: auto;">
                                    <a href="{{ link.url }}" class="link" target="_blank">
<!--                                        <img src="{{ link.icon_url.url }}" alt="Site Icon" class="link__icon">-->
                                        <h3 class="link__title" style="font-size: 1.8rem; color: var(--color-sub); ">{{link.title}}</h3>
                                        <p style="font-size: 1.2rem; color: var(--color-gray);">Переход на сторонний сайт</p>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    {% include 'projects/pagination.html' with queryset=projects %}
</main>


{% endblock %}



